* {

  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;

}

header {
  background: #FFF2E1;
  position: relative;
}

.container {
  width: 1480;
  margin: 0 auto;
}

.navbar {

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
}

.logo {
  background-image: url("image/Polygon\ 1.png");
  height: 83px;
  width: 83px;
  border-radius: 6px;
  background-repeat: no-repeat;
}

.logo h2 {
  font-size: 32px;
  padding-top: 15px;
  padding-left: 35px;
}

.menuitem {
  display: flex;
  align-items: center;
  gap: 80px;
}

.menuitem a {
  gap: 80px;
  font-size: 22px;
  text-decoration: none;
  color: black;
}

.btn {

  display: flex;
  align-items: center;
  gap: 40px;


}

.btn a {
  font-size: 22px;
  text-decoration: none;
}

.btn1 {
  padding: 12px 40px;
  border-radius: 30px;
  color: #333;
  background-color: white;
}

.btn2 {
  padding: 12px 40px;
  background-color: #F48C06;
  border-radius: 30px;
  color: white;
}

.hero-section .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 600px;
}


.text {

  font-size: 24px;
}

.all-text {
  position: relative;
  left: 25px;
}

.title-color {

  color: #F48C06;
}

p {

  padding: 20px 0;
}

.hero-section .btn .btn1 {
  padding: 15px 25px;
  background-color: #F48C06;
  border-radius: 40px;
  text-decoration: none;
  color: white;
}

.hero-section .btn .btn2 {

  background-color: white;
  padding: 12px 13px;
}

.hero-section .btn .btn2 img {

  padding-left: 4px;
}

.set-image {

  width: 50%;
  position: relative;
}

.back-image img {

  position: relative;
  width: 400px;
  height: auto;
}